{{- if not (.Param "hideFooter") }}
<footer class="footer-dark">
  <div class="footer-inner">
    <div class="footer-left">
      <a class="footer-brand" href="{{ "" | absLangURL }}">H-LRF</a>
    </div>
    <div class="footer-right">
      <span class="footer-copy">&copy; {{ now.Year }}</span>
    </div>
  </div>
</footer>
{{- end }}

<style>
.footer-dark {
  background-color: #111827;
  color: #e5e7eb;
}
.footer-brand {
  font-weight: 700;
}
.footer-inner {
  padding: calc((var(--footer-height) - var(--gap))/2) var(--gap);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
